@model IEnumerable<Movie.Models.Movief>

@{
    ViewData["Title"] = "Movie";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-fluid">
    <h1>Movie</h1>

    @*<p>
        <a class="btn btn -prddddiam" asp-action="Create">Create New</a>
    </p>*@
    <button type="button" class="btn btn-primary mb-2 mt-2" data-bs-toggle="modal" data-bs-target="#movie">
        Add Movie
    </button>
    @{
        var mov = new Movief();
    }
    <div class="modal fade" id="movie" tabindex="-1" aria-labelledby="moviemodallabel" aria-hidden="true">

        @await Html.PartialAsync("Create",mov);
    </div>
    <table class="table border bg-white">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Duration)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SubTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReleseDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Language)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MovieType)
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Duration)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReleseDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Language)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MovieType.GenreName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen"></i></a> |
                        <a asp-action="Details" asp-route-id="@item.Id"><i class="fa-regular fa-eye"></i></a> |
                        <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</divc>
